
public net.minecraft.world.level.block.state.BlockBehaviour$BlockStateBase destroySpeed

public net.minecraft.world.level.block.state.BlockBehaviour soundType


# public net.minecraft.world.level.block.state.BlockBehaviour getSoundType(Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/block/SoundType;
